* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navegacion{
  background-color: rgb(219, 151, 151);
}
.contenido1 {
  display: flex;  
  justify-content: space-between;
  gap: 2rem; 
}
.texto {
  display: flex;
  flex-direction: column;
  width: 60%;
}
.contenido2 img {
  width: 450px;
  height: auto;  
  border-radius: 50%; /* Si quieres que la imagen sea circular */
}
  #Educacion {
    background-color:  rgb(219, 151, 151) ;
  }

  #Proyects {
    background-color:  rgb(219, 151, 151) ;
  }
  .end{
    background-color:  rgb(219, 151, 151) ;
  }
.card-img-top {
  height: 250px;
  object-fit: cover;
}

.card {
  height: auto;
  width: 100%; 
  margin-top: 50px;
  margin-right: 20px;
}