* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar{
  background-color: rgb(219, 151, 151);
}
.primer.boton{
  color: rgb(219, 151, 151);
}
.fotoportada{
    background-color:white;
    background-size:cover;
    height: 18rem;
    font-size: 30px;
    color: black;
}
.fotoportada h1{
        margin: 0%;
        padding-top: 80px;
       padding-left: 150px;
}
.fotoportada p{
    margin: 0%;
   padding-left: 150px;
   font-size: 35px;
}
.boton{
    padding-left: 250px;
}

  #Educacion{
    background-color: rgb(24, 23, 23);
  }
  #proyectos{
    background-color: rgb(24, 23, 23);
  }
  #sobre-mi {
    background-color:rgb(230, 208, 208);
  }
  #Habilidades {
    background-color: rgb(230, 208, 208) ;
  }